@import url(general.css);

.card, .slick-slide, .slick-active {
    width: auto;
    margin: 3rem auto;
}
.top{
    width: auto;
    margin: auto;
}
.container {
    width: 70%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto auto;
    grid-row-gap: 3em;
    grid-column-gap: 3em;
    grid-template-areas:
        "imagen curso"
        "imagen contenido";
    padding-top: 3em;
}

/* imagen curso */
.imagen {
    grid-area: imagen;
}

.imagen {
    max-width: 20em;
}

/* descripcion curso */
.curso-sec {
    grid-area: curso;
    width: 100%;
    padding: 1rem;
    text-align: justify;
    background-color: var(--gris);
}

.curso-sec:hover {
    transition: 0.5s;
    box-shadow: 0px 0px 10px 3px rgba(206, 206, 206, 1);
}

.btn {
    float: right;
}

.curso-sec p {
    padding-top: 1em;
}

.costo {
    font-size: 1rem;
    font-weight: 600;
    text-align: end;
    padding: 1em 0;
}

.costo span {
    background-color: var(--rosa);
    color: var(--blanco);
    border-radius: 0.3rem;
    padding: 0 0.2em;
}

/* contenido curso */
.contenido {
    grid-area: contenido;
    width: 100%;
}

h2 {
    text-align: left;
}

.panel {
    display: none;

}

.contenido div {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    border-bottom: 1px solid var(--rosa);
    padding: 1vh;
    background-color: var(--blanco);
    transition: 0.5s;
}

.contenido div:hover {
    background-color: var(--gris);
}

.contenido .leccion {
    background-color: var(--gris);

}


.leccion {
    position: relative;
}

.leccion .fa-clock {
    position: absolute;
    right: 80px;
    top: 50%;
}

.leccion .minutos {
    position: absolute;
    right: 6.9em;
}

.leccion .estudio {
    position: absolute;
    left: 3.5em;
}

/* docente */
.docente {
    background-color: var(--gris);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 3em 6em;
    margin-top: 3em;
}

.info-docente {
    max-width: 70%;
}

.foto {
    max-width: 12.5em;
    border-radius: 0.3em;
    border: 1px solid var(--negro);
}

.clasificacion i {
    color: var(--rosa);
}

/* cursos relacionados */
aside {
    width: 80%;
    margin: auto;
    padding: 3em 0;
}

/* slider slick*/
.slider {
    width: 80%;
    margin: auto;
}

.slick-prev:before,
    .slick-next:before {
        color: var(--negro);
    }

    .popup-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: white;
        padding: 20px;
        text-align: center;
        border-radius: 5px;
        font-family: var(--fuente-uno);
        font-weight: 700;
        color: var(--negro);
        padding: 1em;
        width: 25em;
    }

/* MEDIA QUERIES */
@media screen and (min-width: 41em) and (max-width: 82em) {
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .docente {
        padding: 3em;
    }

    .info-docente {
        width: 100%;
    }

    /* popup */
    .popup-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: white;
        padding: 20px;
        text-align: center;
        border-radius: 5px;
        font-family: var(--fuente-uno);
        font-weight: 700;
        color: var(--negro);
        padding: 1em;
        width: 80%;
    }

    .popup-content p {
        padding-bottom: 2em;
    }

    .popup-content button {
        margin-top: 10px;
    }

    .acordeon {
        cursor: pointer;
    }

}


@media screen and (max-width: 40.9em) {
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 90%;
    }

    .leccion .fa-clock {
        display: none;
    }

    .leccion .minutos {
        display: none;
    }

    .docente {
        padding: 3em 0;
    }

    .info-docente {
        padding-top: 1.5em;
    }

    /* popup */
    .popup-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: white;
        padding: 20px;
        text-align: center;
        border-radius: 5px;
        font-family: var(--fuente-uno);
        font-weight: 700;
        color: var(--negro);
        padding: 1em;
        width: 90%;
    }

    .popup-content p {
        padding-bottom: 2em;
    }

    .popup-content button {
        margin-top: 10px;
    }

    .acordeon {
        cursor: pointer;
    }
}